<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919085788764-5brcc5e69oe90th6j2ejkj1u6o8fnekt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919085788764-5brcc5e69oe90th6j2ejkj1u6o8fnekt</string>
	<key>API_KEY</key>
	<string>AIzaSyBE-NmoO6dIsG_DFi0WlXjU83YdJSZnXEs</string>
	<key>GCM_SENDER_ID</key>
	<string>919085788764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunflower.SDD</string>
	<key>PROJECT_ID</key>
	<string>socialdistancedetector-7a918</string>
	<key>STORAGE_BUCKET</key>
	<string>socialdistancedetector-7a918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919085788764:ios:24d918e735da99ba8e4099</string>
	<key>DATABASE_URL</key>
	<string>https://socialdistancedetector-7a918.firebaseio.com</string>
</dict>
</plist>